body {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-top: 1px solid transparent;
    color: rgb(31, 29, 29);
}

.content-section {
    background-color: rgb(235, 227, 227);
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.content-section p {
    margin: 3%;
    font-size: 1.4rem;
}

.albuns {
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    margin-top: 1rem;
}

main {
    width: 90%;
    margin: auto;
}

.content-section a {
    background: rgba(0, 0, 0, .2);
    padding: .1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
}

.content-section a:hover {
    border-top-color: #324857;
    background: #324857;
    color: #ccc;
}

footer button {
    border-top: 1px solid #000000;
    background: #325d7a;
    background: -webkit-gradient(linear, left top, left bottom, from(#1f282e), to(#325d7a));
    background: -webkit-linear-gradient(top, #1f282e, #325d7a);
    background: -moz-linear-gradient(top, #1f282e, #325d7a);
    background: -ms-linear-gradient(top, #1f282e, #325d7a);
    background: -o-linear-gradient(top, #1f282e, #325d7a);
    padding: 0.5rem 1rem;
    -webkit-border-radius: 0.9rem;
    -moz-border-radius: 0.9rem;
    border-radius: 0.9rem;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 0.8rem;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    border-top-color: #324857;
    background: #324857;
    color: #ccc;
}

.button:active {
    border-top-color: #415461;
    background: #415461;
}